.App {
  font-size: 16;
  height:100vh;
  width:100%;
  background-color: #B99480;
  font-family: serif;
}

@media only screen and (max-width: 1400px) {
  #Header {
    display:flex;
    flex-direction:column;
    width: 100%;
    height: 52%;
    background-color: #512827;
    text-align: center;
    align-items:center;
    justify-content:center;
  }
  .head-tabs {
    display: flex;
    flex-direction: row;
    position:absolute;
    bottom:47%;
  }
  #input {
    font-family: Serif;
    font-size: 1.5rem;
    height: 45px;
    width:92px;
    background-color: rgba(185, 148, 128, 0.5);
    color: #3C1C1B;
    border: none;
    cursor:pointer;
    bottom:0;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
  }
  #output {
    font-family: Serif;
    font-size: 1.5rem;
    height: 45px;
    width:92px;
    border:none;
    background-color: #B99480;
    color: #3C1C1B;
    text-decoration:underline;
    cursor:pointer;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
  }
  #featured-quote {
    font-size: 1rem;
    width: 65%;
    height: 25%;
    color: #ffffff;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
  }
  #search-section {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
  }
  #bar-section {
    display: flex;
    flex-direction: column;
    align-items:center;
  }
  #search-label {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom:1%;
    margin-top:5%;
    color: #3C1C1B;
    letter-spacing: 5px;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
  }
  #search-input {
    height:30px;
    width:500px;
    font-size:1.25rem;
    border: 3px solid #3C1C1B;
    filter: drop-shadow(0px 2px 2px #00000054);

  }
  #search-bar {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
  }
  #search-button {
    background-color:#512827;
    width:60px;
    height: 38px;
    filter: drop-shadow(0px 2px 2px #00000054);
    border: 3px solid #3C1C1B;
  }
  #search-logo {
    width:24px;
    
  }
  #filter-section {
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
  }
  #filter-button {
    display:flex;
    flex-direction: row;
    height:38px;
    justify-content: center;
    align-items:center;
    margin-top:58%;
    margin-left:15%;
    background-color: #512827;
    filter: drop-shadow(0px 2px 2px #00000054);
    border: 3px solid #3C1C1B;
    
  }
  #filter-label {
    text-transform: uppercase;
    font-size:1rem;
    margin-top:20%;
    color:#ffffffd3;
  }
  #filter-logo {
    width:24px;
  }
}

@media only screen and (max-width: 1200px) {
  #Header {
    width: 100%;
    height: 55%;
    background-color: #512827;
    text-align: center;
  }
  .head-tabs {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    position:absolute;
    bottom: 44%;
  }
  #input {
    font-family: Serif;
    font-size: 1.5rem;
    height: 45px;
    width:92px;
    background-color: rgba(185, 148, 128, 0.5);
    color: #3C1C1B;
    border: none;
    cursor:pointer;
    bottom:0;
  }
  #output {
    font-family: Serif;
    font-size: 1.5rem;
    height: 45px;
    width:92px;
    border:none;
    background-color: #B99480;
    color: #3C1C1B;
    text-decoration:underline;
    cursor:pointer;
  }
  #featured-quote {
    font-size: 1rem;
    width: 70%;
    height: 33%;
    color: #ffffff;
    cursor: pointer;
  }
}

@media only screen and (max-width: 800px) {
  #Header {
    width: 100%;
    height: 61%;
    background-color: #512827;
    text-align: center;
  }
  .head-tabs {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    position:absolute;
    bottom: 38%;
  }
  #input {
    font-family: Serif;
    font-size: 1.5rem;
    height: 45px;
    width:92px;
    background-color: rgba(185, 148, 128, 0.5);
    color: #3C1C1B;
    border: none;
    cursor:pointer;
    bottom:0;
  }
  #output {
    font-family: Serif;
    font-size: 1.5rem;
    height: 45px;
    width:92px;
    border:none;
    background-color: #B99480;
    color: #3C1C1B;
    text-decoration:underline;
    cursor:pointer;
  }
  #featured-quote {
    font-size: 1rem;
    width: 80%;
    height: 33%;
    color: #ffffff;
    cursor: pointer;
  }
}

#feature-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  width:128px;
}

#logo:hover {
  opacity: 50%;
}

#featured-quote:hover {
  opacity: 50%;
}

#refresh-button {
  margin-left:-10%;
  margin-right:-3%;
  height: 50px;
  width: 90px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#refresh-button:hover {
  filter:opacity(65%);
}

#speaker-tag {
  color: #B0FDFF;
  margin-top:-1%;
}

#speaker-link {
  text-decoration: none;
}

#speaker-link:hover {
  opacity: 50%;
}



#input:hover {
  opacity:50%;
}

#output:hover {
  opacity:50%;
}

#Home {
  height: 100%;
}

#Search {
  height: 100%;
}
